
body{
    background-image: url('../img/home/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

.lead{
    overflow-x: hidden;
}
#tips{
    width: 100%;
    padding-left: 15px;
    line-height: 25px;
    font-size: 12px;
    text-align: left;
    color: #999;
}
#tips.error{
    color: red;
}
[name=message]{
    min-height: 260px;
}
@media (max-width: 768px) {
    ::-webkit-input-placeholder{
        font-size: 12px;
    }
    .contact h1{
        font-size: 16px;
    }
    [name=message]{
        min-height: 80px;
    }
    .contact-footer h1{
        margin: 0;
        line-height: 15px !important;
        font-size: 14px;
    }
    .contact-footer p{
        font-size: 12px;
        margin-bottom: 8px;
    }
}

.address a {
    text-decoration: none;
}
.contact {
    width: 75%;
    padding: 1rem 0 0;
    text-align: center;
    color: white;
    margin:0 auto;
    font-family: "宋体";
    font-size:20px;
}
.clear {
    clear: both;
}
.form-control {
    background:rgba(255, 255, 255, 0.05);
}


.form-group input{
    margin-bottom: 1rem;
}

.btn {
    margin-top: 1rem;
}


.disco:hover {
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: disco;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: disco;
}
@-webkit-keyframes disco {
    0%    { -webkit-filter: drop-shadow(0 0 8px rgba(255,153,153,1)); }
    25%  { -webkit-filter: drop-shadow(0 0 8px rgba(244,241,66,1)); }
    50%  { -webkit-filter: drop-shadow(0 0 8px rgba(0,153,255,1)); }
    75%  { -webkit-filter: drop-shadow(0 0 8px rgba(244,66,232,1)); }
    100%    { -webkit-filter: drop-shadow(0 0 8px rgba(255,153,153,1)); }
}

.icon-location {
    display: inline-block;
    width: 32px;
    height: 32px;
}
.icon-email {
    display: inline-block;
    width: 39px;
    height: 24px;
}
.icon-phone {
    display: inline-block;
    width: 37px;
    height: 35px;
}

.contact-footer h1 {
    line-height: 32px;
}
