*, body {
    font-family: 微软雅黑, Microsoft YaHei, 宋体, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 16px
}

html {
    height: 100%
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 85px;
    background-color: rgba(255, 255, 255, .3)
}

@media (max-width: 768px) {
    #music-wrapper, #post-btn, .advertisement, .online-contact-container, .site-state-container {
        display: none
    }
}

::selection {
    color: #fff;
    color: rgba(255, 255, 255, .85);
    background: #ea4c89
}

.nav-main {
    height: 51px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .24)
}

#my-collapse, .navbar-inverse {
    background-color: #101010
}

.my-brand {
    color: #fff !important
}

.dropdown > a, .right-nav > a {
    color: #fff !important
}

.main-container {
    padding: 74px 15px 15px 15px
}

.main-container.contact-container {
    padding-top: 20px
}

.nav > li > a {
    padding-right: 14px
}

@media (max-width: 768px) {
    .main-container {
        padding-top: 30px
    }
}

.page-header {
    margin-top: 0;
    color: #333
}

.container {
    padding-right: 15px;
    padding-left: 15px
}

.copyCode {
    padding-bottom: 5px;
    font-size: 12px;
    cursor: pointer
}

.article-content pre.active {
    border: 2px solid #16bcd4
}

.post-action, .post-action:hover {
    color: #fff;
    text-decoration: none
}

.form-horizontal input {
    border-radius: 0
}

.form-horizontal button {
    border-radius: 0
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 18px 0;
    background-color: #101010;
    color: #fff
}

@media (max-width: 768px) {
    .footer {
        padding: 10px 0
    }
}

.login-form, .register-form {
    padding-left: 0;
    padding-right: 0
}

@media (max-width: 768px) {
    .register-form .panel-body {
        padding-bottom: 0
    }

    .register-form label {
        margin-top: 6px;
        padding-right: 5px
    }

    .register-form .no-pad {
        padding: 0
    }
}

.article-info {
    margin: 25px 0
}

.article-info > ul {
    padding: 0
}

.article-info > ul > li {
    margin: 0 10px;
    font-size: 12px
}

.detail-p p {
    text-indent: 2em;
    margin-bottom: 20px
}

.comment-warp span {
    font-size: 12px;
    color: #777
}

.comment-warp p {
    font-size: 18px;
    font-weight: 700;
    text-indent: 0;
    margin: 10px 0
}

ul {
    margin: 0;
    padding: 0
}

.comment-result ul {
    animation-name: flash
}

.comment-result ul li:nth-child(even) {
    background-color: #f8f8f8
}

.comment-result ul li {
    position: relative;
    padding-right: 38px
}

.comment-result ul li:after {
    position: absolute;
    right: 5px;
    top: 5px;
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    padding: 2px;
    background: url(../img/c_1.jpg) no-repeat center;
    background-size: 30px
}

.comment-result ul li:nth-child(even):after {
    background: url(../img/c_2.jpg) no-repeat center;
    background-size: 30px
}

.comment-result li {
    counter-increment: flashIndex;
    position: relative;
    width: 80%;
    margin-top: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    list-style: none;
    color: #333;
    font-weight: 700
}

#comment-tips.error {
    color: red
}

@media (max-width: 768px) {
    .comment-result li {
        width: 100%
    }
}

.comment-result li:before {
    content: counter(flashIndex) '.';
    position: absolute;
    top: 4px;
    left: -20px;
    width: 6px;
    height: 6px;
    color: #333;
    font-weight: 700;
    border-radius: 50%;
    background: 0 0
}

.comment-result li span {
    color: #34538b;
    font-weight: 400;
    font-size: 12px
}

.comment-result li p {
    color: #333;
    line-height: 21px;
    font-weight: 400;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 0;
    text-indent: 0
}

.comment-result .comment-author {
    font-size: 14px;
    color: #34538b;
    font-weight: 700
}

.comment-result .comment-meta {
    margin-top: -5px
}

.comment-result .says {
    font-size: 14px;
    color: #333;
    font-weight: 700
}

.zan {
    color: #34495e;
    cursor: pointer
}

.num-zan {
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    padding-right: 10px
}

.a-img {
    margin: 10px;
    text-align: center
}

.a-img img {
    min-width: 200px
}

.login-tips {
    padding-left: 0;
    font-size: 12px;
    color: red
}

form:nth-child(1) {
    margin-bottom: 25px
}

@media (max-width: 768px) {
    .my-login {
        float: none !important
    }

    .email-tips {
        font-size: 12px
    }

    .hide-github {
        display: none
    }
}

.phone768 {
    display: none
}

.beforeLoading {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999
}

@media (max-width: 768px) {
    #my-msg, #recommend, #recommend-box, #tit-good-box, #video-box {
        display: none
    }

    .phone768 {
        display: block
    }
}

.logoname {
    font-size: 2.5rem;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 120%;
    background-image: -webkit-linear-gradient(left, #df21f5, #87ceeb 25%, orange 50%, #000a80 75%, #df21f5);
    animation: content-animation 4s infinite linear
}

@keyframes content-animation {
    0% {
        background-position: 0, 0
    }
    100% {
        background-position: -100% 0
    }
}

.my-addon {
    background-color: #fff;
    border-radius: 0
}

.my-addon:hover {
    background-color: #eee;
    cursor: pointer
}

.my-input-group > input {
    border-radius: 0 !important
}

.btn-success {
    border-radius: 0
}

.list-group-item > a {
    text-decoration: none;
    color: #555 !important
}

.post-item-container {
    margin-bottom: 30px;
    border-bottom: 1px dashed #d9d9d9
}

.post-item-container > h4 {
    margin-bottom: 30px
}

.post-item-container > h4 > a {
    color: #337ab7;
    text-decoration: none;
    font-size: 18px
}

.post-item-container > h4 > a:hover {
    color: #23527c;
    text-decoration: underline
}

.phone768 {
    text-align: center;
    color: #ff4500
}

.more-info a {
    text-decoration: none
}

.more-info a > span {
    text-decoration: none;
    color: #fff;
    font-size: 24px
}

.more-info sup {
    top: -13px
}

.tab-pc {
    margin-top: 20px
}

@media (min-width: 768px) {
    .tab-pc {
        display: none
    }

    .fiexd-article {
        width: 16%;
    }
}

.fiexd-article {
    position: fixed;
    width: 12%;
    z-index: 2
}

.fixtop {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 100px;
    width: 50px;
    height: 60px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 5px;
    transition: all .5s;
    text-align: center;
    cursor: pointer
}

.fixtop span {
    font-size: 32px;
    text-align: center;
    line-height: 56px;
    color: #fff
}

.fixtop:hover {
    background-color: rgba(0, 0, 0, .9)
}