/*彩色logo*/
.logoname {
    font-size: 2.5rem;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 120%;
    background-image: -webkit-linear-gradient(left, #df21f5, skyblue 25%, orange 50%, #000a80 75%, #df21f5);
    animation: content-animation 4s infinite linear;
}

@keyframes content-animation {
    0% {
        background-position: 0, 0
    }
    100% {
        background-position: -100% 0;
    }
}


.my-addon{
    background-color:#fff;
    border-radius: 0px;

}
.my-addon:hover{
    background-color:#eee;
    cursor: pointer;
}
.my-input-group>input{
    border-radius: 0px!important;
}
.btn-success{
    border-radius: 0px;
}
.list-group-item>a{
    text-decoration:none;
    color:#555!important;
}
.post-item-container{
    margin-bottom: 30px;
    border-bottom: 1px dashed #d9d9d9;
}
.post-item-container>h4{
    margin-bottom:30px;
}
.post-item-container>h4>a{
    color: #337ab7;
    text-decoration: none;
    font-size:18px;
}
.post-item-container>h4>a:hover{
    color: #23527c;
    text-decoration: underline;
}
.phone768{
    text-align: center;
    color: orangered;
}
.more-info a{
    text-decoration: none;
}
.more-info a>span{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}
.more-info sup{
    top:-13px;
}
.tab-pc{
    margin-top: 20px;
}
@media (min-width:768px) {
    .tab-pc{
        display: none;
    }
}

