.container{
    position: relative;
}
#musicControl{
    position: absolute;
    left: -25px;
    top: 34px;
    cursor: pointer;
    animation: loop 4s linear 0s infinite;
}
@keyframes loop
{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}